<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= title %></title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
<link rel='stylesheet' href='/public/stylesheets/style.css' />

<style>
  .scrollable-column {
    max-height: 400px;  /* Adjust this value according to your preference */
    overflow-y: auto;
  }
</style>
</head>

<body>
  <div class="container-fluid my-2">
    <div class="row">
      <!-- Added Navbar Here -->
      <div class="col-md-2 bg-light full-height-col">
        <ul class="nav flex-column custom-nav">
            <%- include('partials/navbar') %>
        </ul>
      </div>
      <div class="col-md-7 info-table">
        <h3 class ="table-title">Addresses</h3>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addAddressModal">Add Client</button>

        <table class="table table-striped custom-table">
            <thead>
                <tr>
                    <th>address</th>
                    <th>addressID</th>
                    <th>cID</th>
                    <th>Actions</th> <!-- New Actions column -->
                </tr>
            </thead>
            <tbody>
                <% tripdata.forEach(function(trip){ %>
                    <tr data-id="<%= trip.addressID %>"> <!-- Add data-id attribute to use it later -->
                        <td><%= trip.address %></td>
                        <td><%= trip.addressID %></td>
                        <td><%= trip.cID %></td>
                        <td>
                            <!-- Dropdown for actions -->
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item modify-item" href="#">Modify</a>
                                    <a class="dropdown-item delete-item" href="#">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

      </div>
    </div>
  </div>

<!-- pop-up to add new client -->
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddressModalLabel">Add New Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addAddressForm">
          <div class="form-group">
            <label for="Address">Address</label>
            <input type="text" class="form-control" id="Address" required>
          </div>
          <div class="form-group">
            <label for="aID">Client ID</label>
            <input type="text" class="form-control" id="cID" required>
          </div>
          <button type="submit" class="btn btn-primary">Add Address</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script>
  $(document).ready(function() {
    console.log("!!!!!")
    
    $('#addAddressForm').on('submit', function(e) {
      e.preventDefault();  // Prevents the default form submission

      const addressData = {
        address: $('#Address').val(),
        cID: $('#cID').val()
      };
      console.log(addressData)


      $.ajax({
        url: '/addresses', // The backend route/API endpoint
        method: 'POST',
        data: addressData,
        success: function(response) {
          // Handle success - you could, for instance, close the modal and refresh the client list
          $('#addAddressModal').modal('hide');
          location.reload(); // Refresh the page to see the new client (not optimal, but for MVP it's fine)
        },
        error: function(error) {
          // Handle error - show a message or alert to the user
          alert('Failed to add address. Please try again.');
        }
      });
    });
    // Listen to the delete action
    $('.delete-item').on('click', function(e) {
        e.preventDefault();
        const addressID = $(this).closest('tr').data('id');
        
        $.ajax({
            url: `/address/${addressID}`, // assuming RESTful API convention
            method: 'DELETE',
            success: function(response) {
                window.location.reload(); // Reload after deletion
            },
            error: function(error) {
                alert('Failed to delete address. Please try again.');
            }
        });
    });

    // Listen to the modify action
    $('.modify-item').on('click', function(e) {
        e.preventDefault();
        const addressID = $(this).closest('tr').data('id');
        
        // Do whatever you need for modification here, for instance, you can pop up a modal to edit the details.
    });

  });
</script>




</body>
</html>
